<div>
  <ion-toolbar>
    <ion-title> &nbsp;{{value}}</ion-title>
    <ion-buttons class="btn-row">
      <button (click)="onKeyTap('1')" class="btn" ion-button solid>1</button>
      <button (click)="onKeyTap('2')" class="btn" ion-button solid>2</button>
      <button (click)="onKeyTap('3')" class="btn" ion-button solid>3</button>
      <button (click)="onKeyTap('E')" class="btn" ion-button solid>E</button>
    </ion-buttons>
    <ion-buttons class="btn-row">
      <button (click)="onKeyTap('4')" class="btn" ion-button solid>4</button>
      <button (click)="onKeyTap('5')" class="btn" ion-button solid>5</button>
      <button (click)="onKeyTap('6')" class="btn" ion-button solid>6</button>
      <button (click)="onKeyTap('C')" class="btn" ion-button solid>C</button>
    </ion-buttons>
    <ion-buttons class="btn-row">
      <button (click)="onKeyTap('7')" class="btn" ion-button solid>7</button>
      <button (click)="onKeyTap('8')" class="btn" ion-button solid>8</button>
      <button (click)="onKeyTap('9')" class="btn" ion-button solid>9</button>
      <button (click)="onKeyTap('0')" class="btn" ion-button solid>0</button>
    </ion-buttons>
  </ion-toolbar>
</div>
