<ion-header>
  <ion-navbar>
    <ion-title>
      Game
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <timer></timer>
  <ion-item>Score: {{score}}</ion-item>
  <ion-toolbar>
    <button *ngIf="!showKeypad; else elseBlock" start (click)="startGame()" ion-button solid>Start</button>
    <ng-template #elseBlock><button end (click)="closeGame()" ion-button solid>Close</button></ng-template>
  </ion-toolbar>
  <ion-list>
    <box *ngFor="let box of boxData" [box]="box"></box>
  </ion-list>
  <keypad [onUpdate]="onUpdateBound" [onClean]="onCleanKeypad" [style.visibility]="showKeypad ? 'visible' : 'hidden'"></keypad>
</ion-content>
